:root {
  --backgroundColor: #f5d0a9;
}

* {
  box-sizing: border-box;
}

#main-body {
  width: 100vw;
  background-color: var(--backgroundColor);
  font-family: "Inter", serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media only screen and (min-width: 640px) {
  #main-body {
    height: 100vh;
    padding: 0 2%;
  }

  #root > div {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(230px, 1fr) minmax(300px, 4fr);
  }
}

@media only screen and (min-width: 1024px) {
  #main-body {
    padding: 0 8%;
  }

  #root > div {
    grid-template-columns: minmax(260px, 1fr) minmax(400px, 4fr);
  }
}

@media only screen and (min-width: 1280px) {
  #main-body {
    padding: 0 10%;
  }

  #root > div {
    grid-template-columns: minmax(290px, 1fr) minmax(500px, 4fr);
  }
}

@media only screen and (min-width: 1536px) {
  #main-body {
    padding: 0 10%;
  }

  #root > div {
    grid-template-columns: minmax(320px, 1fr) minmax(600px, 4fr);
  }
}
